/* =============================================================================
   RESETS & DEFAULTS
   ========================================================================== */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  margin-bottom: 1px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
section,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

label {
  cursor: pointer;
}

body {
  line-height: 1;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dadada;
  margin: 1em 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input:valid,
textarea:valid {}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after,
.clear {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body,
button,
input,
select,
textarea,
th,
td {
  -webkit-font-smoothing: antialiased;
}


/* =============================================================================
      LINKS
      ========================================================================== */

a {
  background-color: transparent;
}

a:link,
a:visited {
  color: #000;
}

a:hover,
a:active,
a:focus {
  color: #000;
}

a:active,
a:hover {
  outline: 0;
}

.back-link img {
  width: 50px;
  height: auto;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.back-link a:hover img {
  opacity: 0.8;
}

/* =============================================================================
      TRANSITIONS
      ========================================================================== */

a,
a img,
#square-container .square {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* =============================================================================
      TYPOGRAPHY
      ========================================================================== */

@font-face {
  font-family: 'Pinegrove';
  src: url('/css/fonts/pinegrove-regular-webfont.woff2') format('woff2'),
    url('/css/fonts/pinegrove-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html,
body,
button,
input,
select,
textarea,
th,
td {
  -webkit-font-smoothing: antialiased;
  /*
       font: 16px 'Source Code Pro', monospace;
       */
  font: 16px 'Special Elite', monospace;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-family: 'Pinegrove', monospace;
}

h1 {
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 2.1rem;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

b,
strong {
  font-weight: strong;
}

abbr[title] {
  border-bottom: 1px dotted;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
      LISTS & BLOCKQUOTES
      ========================================================================== */

ul,
ul ul,
ol,
ol ol,
ul ol,
ol ul {
  margin: 20px 20px 20px 20px;
  padding: 0 0 0 20px;
}

ul li,
ol li {
  margin: 0 0 10px 0;
}

dl {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

blockquote {
  margin: 1em 40px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* =============================================================================
      BASE
      ========================================================================== */

body {
  background-image: url(/img/background-01.png);
  /*
       background-image: url(/img/background-02.jpg);
       */
  background-color: #214e68;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  margin: 0 50px;
}

#site-container {
  background: #a6a4a5;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  max-width: 1400px;
}

.container {
  display: flex;
}

.col {
  flex: 1;
  padding: 2rem;
}

.col.third {
  max-width: 32%;
}


/* =============================================================================
      HEADER & FOOTER
      ========================================================================== */

header {
  padding: 2rem;
  text-align: center;
}

footer {
  background-image: url(/img/hr.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 900px auto;
  margin-top: 2rem;
  padding: 2rem 1rem;
  text-align: center;
}

nav#bottom,
nav#social,
#copyright {
  padding: 2rem 1rem;
}

nav#bottom ul,
nav#social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav#bottom ul li {
  margin: 0 15px 0 0;
  padding: 0;
  display: inline;
}

nav#social ul li {
  margin: 0 3px;
  padding: 0;
  display: inline;
}

nav#bottom ul li a {
  background: url(/img/square-small-black.png) 0 2px no-repeat;
  padding: 5px 5px 5px 26px;
  text-decoration: none;
}

nav#bottom ul li a:hover,
nav#social ul li a:hover {
  opacity: 0.7;
}

nav#social ul li a {
  padding: 5px;
  font-size: 30px;
}


/* =============================================================================
      SQUARES
      ========================================================================== */

#square-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#square-container .square {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 22%;
  display: inline-block;
  margin: 1rem;
}

#square-container .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#square-container .square:hover {
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15);
}

#square-container .square-text {
  font: 2.1rem 'Pinegrove', monospace;
  line-height: 1.3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fade-in 300ms;
}

.light-blue {
  background-image: url(/img/square-light-blue.png);
}

.red {
  background-image: url(/img/square-red.png);
}

.yellow {
  background-image: url(/img/square-yellow.png);
}

.dark-blue {
  background-image: url(/img/square-dark-blue.png);
}



/* =============================================================================
      ALBUM
      ========================================================================== */

.album-image,
.bandcamp-embed {
  margin-bottom: 2rem;
}

.album-image img {
  width: 100%;
  height: auto;
}


/* =============================================================================
      ACCORDION
      ========================================================================== */

.accordion dt {
  -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -ms-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.accordion {
  margin: 0 auto 2rem auto;
  width: 100%;
}

.accordion dt,
.accordion dd {
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
}

.accordion dt {
  background: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 18px 18px 10px 46px;
  font-size: 1.2rem;
  line-height: 1;
  position: relative;
  margin-bottom: 2px;
}

.accordion dt:hover {
  background: rgba(255, 255, 255, 0.5);
}

.accordion dt.expanded {
  display: block !important;
}

.accordion dt:before {
  content: "\f105";
  font: normal normal normal 19px/1 FontAwesome;
  position: absolute;
  left: 19px;
  top: 11px;
  font-size: 26px;
  transition: transform 500ms ease-out;
}

.accordion dt.expanded:before {
  transform: rotate(90deg);
}

.accordion dd {
  margin: 0;
  padding: 0;
}

.accordion-content {
  padding: 1rem 0 1rem 1rem;
}

/* =============================================================================
      IMAGES
      ========================================================================== */

a:hover img {
  -webkit-filter: brightness(1.05);
  filter: brightness(1.05);
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.photo-left {
  margin: 0 20px 20px 0;
  float: left;
}

.photo-right {
  margin: 0 0 20px 20px;
  float: right;
}

.photo-center {
  margin: 0 0 20px 0;
  text-align: center;
}

.photo-left img,
.photo-right img,
.photo-center img {}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* =============================================================================
      FORMS
      ========================================================================== */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/* =============================================================================
      MOBILE-RESPONSIVE
      ========================================================================== */


@media (min-width: 0px) and (max-width: 1360px) {

  body {
    margin: 0 30px;
  }

  #square-container .square {
    width: 30%;
    margin: 1rem;
  }

}

@media (min-width: 0px) and (max-width: 1260px) {

  #square-container .square {
    width: 45%;
    margin: 0.5rem;
  }

}

@media (min-width: 0px) and (max-width: 1100px) {

  h1 {
    font-size: 4rem;
  }

  nav#bottom ul,
  nav#social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav#bottom ul li {
    margin: 5px;
    display: block;
  }

  nav#bottom ul li a,
  nav#social ul li a {
    display: inline-block;
    margin: 5px;
  }

  nav#social ul li a {
    padding: 5px;
    font-size: 30px;
  }

  .back-link img {
    top: 2.6rem;
    left: 1rem;
  }

  .container {
    display: block;
  }

  .col,
  .col.third {
    background-image: url(/img/hr-dots.svg);
    background-repeat: no-repeat;
    background-position: 2rem bottom;
    background-size: 70px auto;
    max-width: 100%;

    margin: 0 0 2rem 0;
    padding: 2rem 2rem 3rem 2rem;
  }

  .col:last-child,
  .col.third:last-child {
    background-image: none;
  }

  footer {
    background-size: 90% auto;
  }

}

@media (min-width: 0px) and (max-width: 768px) {

  body {
    margin: 0 10px;
  }

  header,
  footer,
  nav#bottom,
  nav#social,
  #copyright {
    padding: 1rem;
  }

  #site-container {
    padding: 1rem 0;
  }

  h1 {
    font-size: 3rem;
  }

  #square-container .square-text {
    font: 1.5rem 'Pinegrove', monospace;
  }

  #square-container .square {
    width: 44%;
    margin: 0.4rem;
  }

}


/* ==========================================================================
      PRINT STYLES
      ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

}
